@import './normalize.scss';
@import './mixin.scss';
@import './theme.scss';

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'FangZhengZZH';
  src: url('../assets/fonts/FangZhengZZH/FangZhengZZH.woff') format('woff'),
    url('../assets/fonts/FangZhengZZH/FangZhengZZH.woff2') format('woff2'),
    url('../assets/fonts/FangZhengZZH/FangZhengZZH.ttf') format('truetype'),
    url('../assets/fonts/FangZhengZZH/FangZhengZZH.otf') format('opentype'),
    url('../assets/fonts/FangZhengZZH/FangZhengZZH.eot') format('embedded-opentype');
}

.nj-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2vh;

  .nj-aside {
    width: 200px;
    border: 1px solid #ccc;

    &__title {
      width: 100%;
      height: 10vh;
      line-height: 10vh;
      color: #d0524b;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      background-color: #eee;
      border-bottom: 1px solid #d0524b;
    }
    &__menu {
      .el-menu-item + .el-menu-item {
        border-top: 1px solid #eee;
      }
    }
  }
  .nj-main {
    width: 900px;
    background-color: #fff;
  }
  .nj-content {
    &__title {
      position: relative;
      height: 5vh;
      line-height: 5vh;
      padding-left: 20px;
      color: #d0524b;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #eee;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 10px;
        width: 2px;
        height: 14px;
        margin-top: -7px;
        background-color: #d0524b;
      }
    }
    &__list {
      width: 100%;
      padding: 0 20px;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 5vh;
      font-size: 14px;
      border-bottom: 1px solid #eee;

      &-title {
        max-width: 90%;
        color: #666;
        @include text-ellipsis;

        &:hover {
          color: #d0524b;
          text-decoration: underline #d0524b;
        }
      }
      &-date {
        color: #999;
      }
    }
    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 10vh;

      > button span {
        padding: 0 5px;
      }
      .el-pagination__total {
        padding: 0 5px;
        margin-left: 5px;
        border-radius: 2px;
        background-color: #f4f4f4;
      }
    }
  }
  .nj-article {
    width: 100%;
    padding: 20px;
    line-height: 1.5;

    &__title {
      height: 5vh;
      line-height: 5vh;
      font-size: 18px;
      text-align: center;
      border-bottom: 1px dashed #ccc;
    }

    p {
      margin-top: 1vh;
      text-indent: 30px;
    }
  }
}
